@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$base-escura: #63222d;
$escuro: #973444;
$medio: #CF455C;
$claro: #FF9898;
$base-clara: #FEE0DF;
$branco: #f6f6f6;