<ngx-slick-carousel class="carousel" 
  [config]="slideConfig" 
  #slickModal="slick-carousel" 
>
  <app-user-card
    ngxSlickItem *ngFor="let user of users" class="slide"
    (showRequest)="showUserModal($event)"
    (rateRequest)="rateUser($event)"
    [user]="user"
  >
  </app-user-card>
</ngx-slick-carousel>

<div class="ui tiny modal" id="user-profile-modal">
  <div class="ui header">
    <img class="modal-picture" src="../../../assets/example_user.png">
    {{ userInModal?.name }}
  </div>
  <div class="ui content">
    <div class="ui grid">
      <div class="eight wide column profile-items">
        <p><i class="ui user icon profile-field"></i> Nome:</p>
        <p><i class="ui calendar icon profile-field"></i> Idade:</p>
        <p><i class="ui soccer icon profile-field"></i> Gostos:</p>
        <p><i class="ui book icon profile-field"></i> Escolaridade:</p>
        <p><i class="ui building icon profile-field"></i> Ocupação:</p>
        <p><i class="ui address book icon profile-field"></i> Bio:</p>
      </div>
      <div class="eight wide column profile-items">
        <p>{{ userInModal?.name }}</p>
        <p>{{ userInModal?.age }}</p>
        <p>{{ userInModal?.interests?.slice(0,3)?.join(', ') }}</p>
        <p>{{ userInModal?.education }}</p>
        <p>{{ userInModal?.occupation }}</p>
        <p>{{ userInModal?.bio }}</p>
      </div>
    </div>
    <div class="modal-bottom">
      <div class="ui labeled icon primary button profile-button">
        Visitar o perfil
        <i class="external link icon"></i>
      </div>
    </div>
    
  </div>
</div>
