<div class="ui header">
    <img class="modal-picture" src="{{ modal.context.userInModal?.profileImg }}">
    {{ modal.context.userInModal?.username }}
</div>
<div class="ui content">
    <div class="ui grid">
        <div class="eight wide column profile-items">
        <p><i class="ui user icon profile-field"></i> Nome:</p>
        <p *ngIf="modal.context.userInModal.age"><i class="ui calendar icon profile-field"></i> Idade:</p>
        <p *ngIf="modal.context.userInModal.interests.length !== 0"><i class="ui soccer icon profile-field"></i> Gostos:</p>
        <p *ngIf="modal.context.userInModal.education"><i class="ui book icon profile-field"></i> Escolaridade:</p>
        <p *ngIf="modal.context.userInModal.occupation"><i class="ui building icon profile-field"></i> Ocupação:</p>
        <p *ngIf="modal.context.userInModal.bio"><i class="ui address book icon profile-field"></i> Bio:</p>
        </div>
        <div class="eight wide column profile-items">
        <p>{{ modal.context.userInModal?.username }}</p>
        <p *ngIf="modal.context.userInModal.age">{{ modal.context.userInModal?.age }}</p>
        <p *ngIf="modal.context.userInModal.interests.length !== 0">{{ interestsTranslated.slice(0,3)?.join(', ') }}</p>
        <p *ngIf="modal.context.userInModal.education">{{ modal.context.userInModal?.education }}</p>
        <p *ngIf="modal.context.userInModal.occupation">{{ modal.context.userInModal?.occupation }}</p>
        <p *ngIf="modal.context.userInModal.bio">{{ modal.context.userInModal?.bio }}</p>
        </div>
    </div>
    <div class="modal-bottom">
        <div class="buttons-container">
            <div (click)="rateUser('like')" class="ui labeled icon button green">
                Gostei
                <i class="white heart outline icon"></i>
            </div>
            <div (click)="rateUser('dislike')" class="ui labeled icon button red">
                Não gostei
                <i class="white thumbs down outline icon"></i>
            </div>
        </div>
        
    </div>

</div>