<div class="notification">
        <div *ngFor="let notification of notifications">
            <span>
                <img src="{{notification.image}}" alt="Notification image">
            </span>
            <span>{{notification.text}}</span>
            <span>{{notification.timestamp}}</span>
            <span>
                <button type="button" 
                    class="btn-close" 
                    aria-label="Close"
                    (click)="delete(notification)">
                </button>
            </span>
        </div>
</div>