<div class="profile-container">
    <div class="personal">
        <div class="profile-infos">
            <div class="profile">
                <h1>
                  <mat-icon>account_circle</mat-icon> Meu Perfil 
                </h1>
                <img [src]="profile.profileImg" class="img-thumbnail">
                <p>
                    <mat-icon>person</mat-icon>
                    {{capitalizedName()}} <br>
                    <mat-icon>cake</mat-icon>
                    {{profile.birthDate}} ({{getAge()}} anos) <br>
                    <mat-icon>school</mat-icon>
                    {{getEducation()}} <br>
                    <mat-icon>domain</mat-icon>
                    {{profile.occupation}} <br>
                    <mat-icon>phone_forwarded</mat-icon>
                    {{profile.phoneNumber}} <br>
                </p>
                <button type="button" 
                    data-bs-toggle="modal" 
                    class="btn edit-btn" 
                    data-bs-target="#staticBackdrop">
                  <i class="pen large icon"></i>
                  Editar Perfil
                </button>
            </div>
            <div class="infos">
                <div class="info" style="flex:3">
                    <h2 id="title"> 
                        <mat-icon style="margin-right:10px"> description </mat-icon> 
                        Bio
                    </h2>
                    <p id="text">
                        Eu, {{profile.firstName}} {{profile.lastName}},
                        {{profile.bio}}
                    </p>
                </div>
                <div class="info">
                    <h2 id="title"> 
                        <mat-icon style="margin-right:10px">favorite</mat-icon>
                        Sexo e interesse
                    </h2>
                    <p id="text">
                        <b> {{getGender(this.profile.gender)}} </b>
                        interessado em pessoas 
                        <span *ngIf = "profile.genderOfInterest !== 'BOTH'">
                            do sexo <b> {{getGender(profile.genderOfInterest)}} </b>
                        </span>
                        <span *ngIf = "profile.genderOfInterest === 'BOTH'">
                            de ambos os sexos
                        </span>
                    </p>
                </div>
                <div class="info">
                    <h2 id="title"> 
                        <mat-icon style="margin-right:10px">location_on</mat-icon>
                        Endereço
                    </h2>
                    <p id="text">
                        {{profile.address}}, {{profile.city}}, {{profile.state}}
                    </p>
                </div>
            </div>
        </div>
        <div class="interests">
            <span class="badge badge-pill badge-secondary"
                *ngFor="let interest of profile.interests">
                {{interest}}
            </span>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" 
  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" 
  aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="staticBackdropLabel"> 
              Atualizar usuário
            </h2>
            <button type="button" class="btn-close" 
              data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>

          <app-user-form
            [profile]="profile"
            [actionLabel]="'Atualizar'"
            [displayInputs]="displayInputs"
            (onSubmit)="updateUser($event)"
          ></app-user-form>
      </div>
  </div>
</div>
<app-popup [label]="popupLabel" [identifier]="'profile'">
</app-popup>