.profile button.edit-btn {
    background: transparent;
    color: var(--base-clara);
    border-color: var(--base-clara);
}

.modal-header, .modal-footer {
    align-items: baseline;
    color: var(--branco);
    height: 4em;
}

.modal-content {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-image: linear-gradient(to right, var(--medio) , var(--escuro));
    padding: 30px;
    width: 100%;
    max-width: 1000px;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}
  

/* Página em geral */
.profile-container {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: white;
}

/* Personal Informations */

.personal {
    width: 100%;
    max-width: 1200px;
    margin: 3em 0;

    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: flex-start;
    height: inherit;

    h1 {
        text-align: center;
        font-size:auto;
        margin-top: 5px;
        color: var(--claro);
        
        mat-icon{
            margin-top: -5px;
            font-size: 40px;
            position: absolute;
            margin-left: -50px;
            color: var(--claro);
        }
    }

    .profile-infos {
        display: flex;
        width: 100%;
    }
}

.img-thumbnail {
    margin: 18px;
}
.personal > * {
    padding: 1em 0;
}

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 250px;
    max-width: 100%;
    padding: 8px;
    margin: 10px 10px 10px 10px;
    background-image: linear-gradient(to right, var(--medio) , var(--escuro));
    border-radius: 5px;
}

.profile p {
    text-align: start;
    font: 20px sans-serif;
    color:  var(--base-clara);
    margin-bottom: 20px;
}

#title {
 background-image: linear-gradient(to right, var(--medio) , var(--escuro));
 color:  var(--base-clara);
}

.interests {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .badge {
        margin: 1em;
        font-size: x-large;
        background-image: linear-gradient(to right, var(--medio) , var(--escuro));
        border-radius: 10px;
        padding: 10px 30px 10px 30px;
    }
}

.infos {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.info {
    border: 2px solid #63222D;
    width: 100%;
    word-wrap: break-word;
    background-color: var(--base-clara);
    border-radius: 10px;
    margin: 10px;
    
    h2 {
        padding: auto;
        border-bottom: 2px solid #63222D;
        padding-left: 10px;
        color: #63222D;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }
    
    p {
        font-size: large;
        color:  #63222D;
        padding: auto;
        padding-left: 10px;
        margin: 0 10px;
        margin-bottom: 0px;
        min-height: 2em;
        overflow: auto;
    }
}

/* Buttons */

.return-button {
    float:right;
    margin-right: 25px;
    margin-top: 80px;
    background-color:#63222D;
    border-color: #63222D;
    color:white;
    
}

.button-report{
    margin-top: 2em;
    width: 100%;
}

.btn {
    background-color: #63222D;
    border-color: #63222D ;
}
