.messages {
    height: 100%;
    overflow-y: scroll;
    overflow-x: clip;

    .item {
        margin: 1em;
    }
}

.item {
    &.right {
        padding-right: 2em;
        text-align: end;
        flex-direction: row-reverse;

        .description {
            justify-content: end;
            flex-direction: row-reverse;
        }
    }
    .content {
        padding: 0 1.5em !important;
    }
}

.description {
    display: flex;
    margin: 0 !important;

    p {
        margin: 0 !important;
    }
    
    span {
        opacity: 0;
        padding: 0 1em;
        font-size: x-small;
    }
    &:hover {
        span {
            transition: opacity .2s;
            opacity: 1;
        }
    }
}

.preview .content .description {
    color: #888;
}

.modal-body {
    display: flex;
    flex-wrap: wrap;
    
    button {
        flex: 1;
        margin: 1px;
    }
}