<div class="ui secondary attached stackable menu">
  <div class="ui container">
    <div class="ui item">
      <img class="ui mini avatar circular image" src="https://avatars.githubusercontent.com/u/49529180?v=4">
      <div>
        <strong> {{ contactUsername }} </strong> <br>
        <div class="ui horizontal label {{(online) ? 'green' : 'red'}}">
          {{(online) ? 'Online' : 'Offline'}}
        </div>
      </div>
    </div>
    <div class="right item">
      <div class="ui input">
        <input type="text" placeholder="Pesquisar...">
      </div>
      <button class="ui icon button right item">
        <i class="ellipsis horizontal icon"></i>
      </button>
    </div>
  </div>
</div>

<div class="ui fluid container items messages">
  <div class="item {{ (message.from === contactUsername) ? 'left' : 'right' }}" 
    *ngFor = "let message of messages">
    <a class="ui avatar tiny image">
      <img src="https://fomantic-ui.com/images/avatar/large/stevie.jpg">
    </a>
    <div class="content">
      <a class="header">  {{ message.from }} </a>
      <div class="description">
        <p> {{ message.text }} </p>
        <span> {{ message.timestamp }} </span>
      </div>
    </div>
  </div>
 
  <div class="item preview" *ngIf = "hasPreview()">
    <a class="ui avatar tiny image">
      <img src="https://fomantic-ui.com/images/avatar/large/stevie.jpg">
    </a>
    <div class="content">
      <a class="header">  {{ preview?.from }} </a>
      <div class="description">
        <p> {{ preview?.text }} </p>
      </div>
    </div>
  </div>
</div>

<div class="ui fluid icon input">
  <input (keyup)='sendPreview($event)' placeholder='Digite aqui...'/>
  <button class="ui icon button">
    <i class="paper plane icon"></i>
  </button>
</div>