<div class="ui secondary attached stackable menu">
  <div class="ui container">
    <div class="ui item">
      <img class="ui tiny avatar circular image" 
        style="width: 74px"
        [src]="contact.image">
      <div>
        <strong id="contact-name"> 
          {{ capitalizedName(contact.username) }}
        </strong> <br>
        <div class="ui horizontal label {{onlineStatus()}}">
          {{(online) ? 'Online' : 'Offline'}}
        </div>
      </div>
    </div>
    <div class="right item">
      <button type="button" id="block-btn" class="btn" 
        *ngIf="!contact.blocked" data-bs-toggle="modal" 
        data-bs-target="#staticBackdrop">
        <i class="exclamation triangle large icon"></i>
        Denunciar esse perfil
      </button>
      <button type="button" id="unblock-btn" class="btn dropdown-item"
        *ngIf="contact.blocked" (click)="unlockContact()">
        <i class="lock open large icon"></i>
        Desbloquear esse perfil
      </button>
    </div>
  </div>
</div>

<div class="ui fluid container items messages">
  <div class="item {{messageSide(chatMessage)}}" 
    *ngFor = "let chatMessage of messages">
    <a class="ui avatar tiny image">
      <img src="{{contactImage(chatMessage)}}">
    </a>
    <div class="content">
      <a class="header">  {{ getContactUsername(chatMessage.from) }} </a>
      <div class="description" 
        *ngFor = "let messageText of chatMessage.messages">
        <p> {{ messageText.text }} </p>
        <span> {{ messageText.timestamp }} </span>
      </div>
    </div>
  </div>
 
  <div class="item preview" *ngIf = "hasPreview()">
    <a class="ui avatar tiny image">
      <img [src]="contact.image">
    </a>
    <div class="content">
      <a class="header">  {{ getContactUsername(preview?.from) }} </a>
      <div class="description">
        <p> {{ preview?.text }} </p>
      </div>
    </div>
  </div>

  <div class="item preview" *ngIf = "contact.blocked">
    <i class="ban large icon"></i>
    <div class="content">
      <a class="header">  Aviso! </a>
      <div class="description">
        <p> Este usuário está bloqueado! </p>
      </div>
    </div>
  </div>
</div>

<div class="ui fluid icon input">
  <input id="message-field"
    (keyup)='sendPreview($event)' 
    placeholder='Digite aqui...'
    [(ngModel)]="message.text"
    (keyup.enter)="sendMessage()"
  />
  <button id="send-button" class="ui icon button" (click)='sendMessage()'>
    <i class="paper plane icon"></i>
  </button>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" 
  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" 
  aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
          <h2 class="modal-title" id="staticBackdropLabel"> 
            Reportar usuário 
          </h2>
          <button type="button" class="btn-close" 
            data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <button type="button" data-bs-dismiss="modal"
              (click)="reportContact($event)"
              class="btn btn-warning"> 
              Perfil Falso/SPAM 
            </button>
            <button type="button" data-bs-dismiss="modal"
              (click)="reportContact($event)"
              class="btn btn-warning"> 
              Descrição imprópria 
            </button>
            <button type="button" data-bs-dismiss="modal"
              (click)="reportContact($event)"
              class="btn btn-warning"> 
              Menor de idade 
            </button>
            <button type="button" data-bs-dismiss="modal"
              (click)="reportContact($event)"
              class="btn btn-warning"> 
              Assédio ou agressão 
            </button>
            <button type="button" data-bs-dismiss="modal"
              (click)="reportContact($event)"
              class="btn btn-warning"> 
              Linguagem imprópria 
            </button>
            <button type="button" data-bs-dismiss="modal"
              (click)="reportContact($event)"
              class="btn btn-warning"> 
              Descriminação 
            </button>
          </div>
          <div class="modal-footer">
            O usuário deixará de poder enviar mensagens a você.
          </div>
      </div>
  </div>
</div>