.ntfc-button{
    background-color: #63222D;
    color: aliceblue;
    border: none;
    border-radius: 20%;
    font-size: 30px;
    border-radius: 50%;
    margin-right: 5%;
}
.logo{
    background-color: #FEE0DF;
    color:#63222D;
    font-weight: bold;
    border: none;
    font-size: 30px;

    
}