.ntfc-button{
    background-color: transparent;
    color: aliceblue;
    border: none;
    border-radius: 20%;
    font-size: 30px;
    border-radius: 50%;
}
.navbar {
    background-color: #63222D;
    padding: .5em 5em;
}
.logo{
    background-color: transparent;
    color: #FEE0DF;
    font-weight: bold;
    border: none;
    font-size: 30px;    
}
