<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>

<div class="base">
  <div id="form-base">

    <div id="logo">
      <p>Coopido</p>
    </div>

    <form>
      <input type="text" name="email" placeholder="email">
      <input type="text" name="age" placeholder="age">
      <input type="text" name="password" placeholder="password">
      <input type="text" name="occupation" placeholder="occupation">
      <input type="text" name="description" placeholder="description">

      <div class="login-signin">
        <a routerLink="/login">
          <input type="submit" value="Login">
        </a>
        <input type="submit" value="Register">
      </div>
    </form>

  </div>
</div>