<div class="chat-page-container">
    <app-contacts class="contact-component"
        [profile]="profile"
        [contacts]="contacts"
        (chooseContactEvent)="chooseContact($event)"
    >
    </app-contacts>
    
    <app-chat *ngIf="contact.username !== ''" 
        class="chat-component"
        [profile]="profile"
        [preview]="preview"
        [online]="online"
        [contact]="contact"
        [messages]="chatMessages"
        (sendMessageEvent)="sendMessage($event)"
        (sendPreviewEvent)="sendPreview($event)"
    >
    </app-chat>
</div>