.ntfc-table{
    display: flex;
    width: 70%;
    position: relative;
    vertical-align: bottom;
    word-wrap: break-word;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 17%;

}
