<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>

<div class="base">
  <div id="form-base">

    <div id="logo">
      <p>Coopido</p>
    </div>

    <form>
      <input type="text" name="login" placeholder="login">
      <input type="text" name="login" placeholder="password">
      <div class="login-signin">
        <input type="submit" value="Log In">
          <a routerLink="/signin">
            <input type="submit" value="Sign In">
          </a>
      </div>
    </form>

  </div>
</div>