<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>

<div class="base">
  <div id="form-base">

    <div id="logo">
      <p>Coopido</p>
    </div>

    <form>
      <div class="login-signin">
        <input type="button" value="Log In"  (click)="signin()">
      </div>
    </form>

    <div class="fb-login-button" data-width="" data-size="large" 
      data-button-type="login_with" data-layout="default" 
      data-auto-logout-link="true" data-use-continue-as="true"></div>
    </div>  
</div>