<div class="base">
  <div id="form-base">

    <div id="logo">
      <img class="modal-picture" src="../../../assets/logo-clara.svg" id="icon">
      <p>Coopido</p>
    </div>

    <form>
      <div class="login-signin">
        <button  (click)="fbLogin()" id="facebook-login">
          <i class="facebook big icon"></i>
          LogIn com Facebook
        </button>
        <button (click)="GGLogin()" id="google-login">
          <i class="google big icon"></i>
          LogIn com Google
        </button>
      </div>
    </form>
  </div>  
</div>
