@import url("../node_modules/slick-carousel/slick/slick.css");
@import url("../node_modules/slick-carousel/slick/slick-theme.css");

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

:root {
    --base-escura: #63222d;
    --base-clara: #FEE0DF;
    --escuro: #973444;
    --medio: #CF455C;
    --claro: #FF9898;
    --branco: #f6f6f6;
}