:host {
    background-color: var(--base-clara);
}

.profile {
    display: flex;
    padding: 1em;
    background: var(--claro);
    border-bottom: 2px solid #CCC;

    img {
        width: 50px;
        height: 50px;
        margin-right: 1em;
    }
}

.title {
    height: 3.3em;
    padding: 0.7em;
    border-radius: 0;
}

.contacts .item {
    display: flex;

    .content {
        max-width: 70%;
    }

    img {
        border-radius: 4px;
        min-width: 80px;
        max-height: 80px;
    }
}

.blocked {
    filter: grayscale(1);
}

.item {
    .description {
        width: 100%; 

        p {
            overflow: hidden;
            white-space: nowrap; 
            text-overflow: ellipsis;
            max-height: 65px; 

            &:hover {
                white-space: normal;
            }
        }
    }
}