<div class="profile">
  <img class="ui mini avatar circular image" [src]="profile.profileImg">
  <div>
    <strong> {{ capitalizedName(profile.username) }} </strong> <br>
    <div class="ui horizontal label green">
      Online
    </div>
  </div>
</div>
<div class="ui middle aligned selection list contacts">
    <div class="item" *ngFor="let contact of contacts" 
      (click) = "chooseContact(contact)">
      <img class="ui tiny image {{contact.blocked?'blocked':''}}"
        src="{{contact.image}}">
      <div class="content">
        <div class="header"> 
          {{ capitalizedName(contact.username) }} 
        </div>
        <div class="description">
          <p> {{ contact.lastMessage}} </p>
        </div>
      </div>
    </div>
</div>    