<div class="alert hide">
    <span class="fa fa-heart"></span>
    <span class="msg">Você deu Match!</span>
 </div>
<div class="page">
    <h2 class="ui center aligned icon header">
        <i class="big icons">
            <i class="inverted users icon"></i>
            <i class="big circle outline inverted icon"></i>
        </i>
        <p>
            Conheça novas pessoas
        </p>
    </h2>
    <app-similar-users
        [users]="userList"
    ></app-similar-users>
    <span *ngIf="userList.length === 0"><i>Parece que não tem ninguem por aqui :(</i></span>
</div>

