<form (submit)="handleSubmit($event)">
  <div id="fields">
    <div>
      <input
        disabled
        type="text"
        name="email"
        placeholder="Email"
        [(ngModel)]="profile.email"
        [required]="displayInputs.indexOf('email') > -1"
      />
      <input
        [disabled]="displayInputs.indexOf('username') === -1"
        [required]="displayInputs.indexOf('username') > -1"
        type="text"
        name="username"
        placeholder="Nome de usuário"
        [(ngModel)]="profile.username"
      />
      <input
        [disabled]="displayInputs.indexOf('firstName') === -1"
        [required]="displayInputs.indexOf('firstName') > -1"
        type="text"
        name="firstName"
        placeholder="Nome"
        [(ngModel)]="profile.firstName"
      />
      <input
        [disabled]="displayInputs.indexOf('lastName') === -1"
        [required]="displayInputs.indexOf('lastName') > -1"
        type="text"
        name="lastName"
        placeholder="Sobrenome"
        [(ngModel)]="profile.lastName"
      />
      <select
        [disabled]="displayInputs.indexOf('gender') === -1"
        [required]="displayInputs.indexOf('gender') > -1"
        type="text"
        name="gender"
        placeholder="Gênero"
        [(ngModel)]="profile.gender"
      >
        <option value="" disabled selected>Gênero</option>
        <option value="FEMALE">Feminino</option>
        <option value="MALE" selected>Masculino</option>
      </select>
      <input
        [disabled]="displayInputs.indexOf('age') === -1"  
        [required]="displayInputs.indexOf('age') > -1"  
        type="number"
        name="age"
        min="18"
        placeholder="Idade"
        [(ngModel)]="profile.age"
      />
      <input
        [disabled]="displayInputs.indexOf('occupation') == -1"
        type="text"
        name="occupation"
        placeholder="Profissão"
        [(ngModel)]="profile.occupation"
      />
      <select
        [disabled]="displayInputs.indexOf('education') == -1"
        [required]="displayInputs.indexOf('education') > -1"
        type="text"
        name="education"
        placeholder="Escolaridade"
        [(ngModel)]="profile.education"
      >
        <option value="" disabled selected>Escolaridade</option>
        <option value="bacharelado">Bacharelado</option>
        <option value="cursoTecnico">Curso Técnico</option>
        <option value="doutorado" selected>Doutorado</option>
        <option value="ensinoFundamental">Ensino Fundamental</option>
        <option value="ensinoMedio" selected>Ensino Médio</option>
        <option value="licenciatura" selected>Licenciatura</option>
        <option value="mestrado">Mestrado</option>
      </select>
    </div>
    <div>
      <input
        [disabled]="displayInputs.indexOf('bio') == -1"
        type="text"
        name="bio"
        placeholder="Descrição"
        [(ngModel)]="profile.bio"
      />
      <select [disabled]="displayInputs.indexOf('interests') == -1"
        type="text" name="interests" placeholder="Interesses"
        #device (change)="addInterest(device.value)" 
        [value]="selectInput.value"
      >
        <option value="" selected >
          Interesses
        </option>
        <option value="{{interest}}" *ngFor="let interest of interests">
          {{ translateInterests[interest] }}
        </option>
      </select>
      <input
        [disabled]="displayInputs.indexOf('city') == -1"
        [required]="displayInputs.indexOf('city') > -1"
        type="text"
        name="city"
        placeholder="Cidade"
        [(ngModel)]="profile.city"
      />
      <input
        [disabled]="displayInputs.indexOf('state') == -1"
        required="displayInputs.indexOf('state') > -1"
        type="text"
        name="state"
        placeholder="Estado"
        [(ngModel)]="profile.state"
      />
      <input
        [disabled]="displayInputs.indexOf('address') == -1"
        [required]="displayInputs.indexOf('address') > -1"
        type="text"
        name="address"
        placeholder="Endereço"
        [(ngModel)]="profile.address"
      />
      <input
        [disabled]="displayInputs.indexOf('birthDate') == -1"
        [required]="displayInputs.indexOf('birthDate') > -1"
        type="text"
        name="birthDate"
        placeholder="Data de Nascimento"
        [(ngModel)]="profile.birthDate"
      />
      <input
        [disabled]="displayInputs.indexOf('phoneNumber') == -1"
        type="text"
        name="phoneNumber"
        placeholder="Telefone"
        [(ngModel)]="profile.phoneNumber"
      />
      <select
        [disabled]="displayInputs.indexOf('genderOfInterest') == -1"
        [required]="displayInputs.indexOf('genderOfInterest') > -1"
        type="text"
        name="genderOfInterest"
        placeholder="Gênero de Interesse"
        [(ngModel)]="profile.genderOfInterest"
      >
        <option value="" disabled selected>Gênero de Interesse</option>
        <option value="FEMALE">Feminino</option>
        <option value="MALE" selected>Masculino</option>
        <option value="BOTH">Ambos</option>
      </select>
    </div>
  </div>
  
  <div class="interests">
    <span class="badge badge-pill badge-secondary"
        *ngFor="let interest of profile.interests"
        (click) = "removeInterest(interest)">
        {{ translateInterests[interest] }}
    </span>
  </div>
  <div class="login-signin">
    <button type="submit">
      {{actionLabel}} 
    </button>
  </div>
</form>
<app-popup [label]="error">
</app-popup>