<div class="base">
  <div id="form-base">

    <div id="logo">
      <p>Coopido</p>
    </div>

    <form (submit)="register()">
      <input type="text" name="email" placeholder="email" 
             [(ngModel)]="profile.email" required disabled>
      <input type="text" name="username" placeholder="Nome de usuário"
             [(ngModel)]="profile.username" required>
      <input type="text" name="firstName" placeholder="Nome"
             [(ngModel)]="profile.firstName" required>
      <input type="text" name="lastName" placeholder="Sobrenome"
             [(ngModel)]="profile.lastName" required>
      <input type="number" name="age" placeholder="age"
             [(ngModel)]="profile.age" required min="18">
      <input type="text" name="occupation" placeholder="Profissão"
             [(ngModel)]="profile.occupation">
      <input type="text" name="education" placeholder="Escolaridade"
             [(ngModel)]="profile.education">
      <input type="text" name="bio" placeholder="Descrição"
             [(ngModel)]="profile.bio">

      <div class="login-signin">
        <button type="submit"> Cadastrar </button>
      </div>
    </form>

  </div>
</div>