body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
}

:host {
  height: 100%;
}

.base {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  background-image: linear-gradient(to right, var(--claro) , var(--medio));
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lobster';
  font-size: 60px;
  margin-bottom: 40px;
  color: var(--base-clara);
}

#icon {
  height: 50px;
  margin-right: 18px;
}

#form-base {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-image: linear-gradient(to right, var(--medio) , var(--escuro));
  padding: 30px;
  width: 90%;
  max-width: 900px;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

*:focus {
    outline: none;
} 